html {
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

body {
    background: url("../images/pattern-background-mobile.svg") center no-repeat;
    background-size: cover;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.outer-cover {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 70px 25px;
}

.top-container {
    width: 100%;
    background: url("../images/illustration-hero.svg")center no-repeat;
    background-size: cover;
}

.top-container p {
    padding-bottom: 300px;
}

.bottom-container {
    width: 100%;
    background-color: #f8f9fe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.summary {
    color: #9d9fb4;
    text-align: center;
}

.summary h1 {
    color: #55637e;
}

.summary p {
    font-size: 1.125em;
    line-height: 1.5em;
}