/***************** STRUCTURAL STYLES ***************/
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    background: url("../images/pattern-background-mobile.svg");
    background-size: cover;
    font-size: 1em;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #fff;
}

main .container {
    margin: 70px 0;
    border-radius: 25px;
    overflow: hidden;
}

.attribution {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/********************* HERO ***********************/

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: url("../images/illustration-hero.svg") top center no-repeat;
    background-size: contain;
    background-color: #e0e8ff;
}

.hero p {
    visibility:hidden; 
    padding-bottom: 160px;
}

/****************** ORDER SUMMARY ****************/

.order-summary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 0;
    margin-top: -32px;
}

.order-summary h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 1.6em;
}

.order-summary p {
    text-align: center;
    line-height: 30px;
    font-size: 1em;
    color: hsl(224, 23%, 55%);
}

/****************** PLAN **************************/

.plan {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: -100px;
}

.plan-case {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.icon-plan {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.annual-plan {
    margin-left: 20px;
    font-size: .9em;
}

.annual-plan .title {
    font-weight: 700;
}

.annual-plan .amount {
    color: hsl(224, 23%, 55%);
    padding-top: 7px;
}

.change {
    width: 20%;
    font-weight: 500;
}

/************************ PAYMENT **********************/

.proceed {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: -100px;
    margin-bottom: -30px;
}

.proceed .container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

button {
    width: 90%;
    padding: 20px 0;
    border-radius: 15px;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-weight: 900;
    font-size: 1em;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
    background-color: hsl(245, 88%, 68%);
}

.proceed a {
    width: 100%;
    text-align: center;
    font-size: .85em;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 700;
}

.proceed a:hover {
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

/******************* DESKTOP STYLES ******************/

@media (min-width: 1400px) {
    body {
        width: 100%;
        background: url("../images/pattern-background-desktop.svg") top center no-repeat;
        background-size: contain;
        background-color: #e0e8ff;
    }

    .container {
        width: 32%;
    }

    main .container {
        margin: 100px 0;
    }

    /********************* HERO ***********************/

    .hero p {
        /* display: none; */
        padding-bottom: 222px;
    }

    /****************** ORDER SUMMARY ****************/

    .order-summary {
    margin-top: -42px;
    }

    .order-summary .container {
    /* padding-top: -50px; */
        width: 90%;
    }

    .order-summary p {
    width: 70%;
    line-height: 30px;
    font-size: 1.15em;
    }
    /****************** PLAN **************************/

    .plan .container {
        width: 80%;
        margin-top: 50px;
    }

    /********************* PAYMENT ******************/

    .proceed {

    margin-top: -140px;
    margin-bottom: -35px;
    }

}